name: Run join meeting messages
on:
  schedule:
    - cron: "0 11 * * 0"

jobs:
  sendWeekly:
    name: join meeting ping
    runs-on: ubuntu-latest
    env:
      DISCORD_MEETING_WEBHOOK: ${{ secrets.DISCORD_MEETING_WEBHOOK }}
    steps:
      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - name: execute python script
        run: |
          python3 -m pip install --upgrade pip
          pip install requests
          echo -e "import requests\nimport os\nurl = os.environ['DISCORD_MEETING_WEBHOOK']\nresponse = requests.post(url, json={'content': 'Weekly meeting now :calendar_spiral:, @here jump to <#1028844449821904925>'})" | python
